{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default"/>
	<f:section name="main">

		<f:flashMessages/>

		<div class="sticky-top hidden-md-up">
			<nav class="navbar navbar-inverse bg-primary">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col col-auto align-self-center">
							<f:link.action action="result" controller="Election" additionalParams="{tx_kom_pi1: '{election: result.election, electionDistrict: result.electionDistrict}'}">
								<i class="fi flaticon-arrow2 flaticon-arrow2-reverse"></i>
							</f:link.action>
						</div>
						<div class="col col-auto navbar-brand">
							Begründung
						</div>
						<div class="col col-auto align-self-center"></div>
					</div>
				</div>
			</nav>
		</div>
		<div class="hidden-xs-down">
			<div class="sticky-top">
				<f:render partial="Area/Nav/Start" section="Default" arguments="{_all}"/>
			</div>
		</div>

		<div class="content__main--wrapper">
			<div class="content__main">
				<main class="container pt-3">
					<div class="row">
						<div class="col-12 mt-3">
							<h1 class="hidden-xs-down">
								Begründung
							</h1>

							<p class="pb-3">
								Vergleichen Sie Ihre Antworten mit denen der Kandidaten. Viele Kandidaten haben Ihre Antworten begründet.
							</p>
							<div id="theses-carousel" class="carousel slide" data-interval="false">
								<div class="row mb-3 hidden-md-up justify-content-between carousel-navigation">
									<div class="col col-auto">
										<a href="#theses-carousel" role="button" data-slide="prev">
											<i class="fi flaticon-arrow2 flaticon-arrow2-reverse" aria-hidden="true"></i>
											<span class="sr-only">Previous</span>
										</a>
									</div>
									<div class="col col-auto">
										<strong>These <span class="current-number">1</span></strong>/<span class="total-number"><f:count subject="{result.opinions}"/></span>
									</div>
									<div class="col col-auto">
										<a href="#theses-carousel" role="button" data-slide="next">
											<i class="fi flaticon-arrow2" aria-hidden="true"></i>
											<span class="sr-only">Next</span>
										</a>
									</div>
								</div>
								<div class="desktop-thesis-control-wrap">
									<div class="hidden-xs-down">
										<a class="thesis-control-prev" href="#theses-carousel" role="button" data-slide="prev">
											<i class="fi flaticon-arrow2 flaticon-arrow2-reverse" aria-hidden="true"></i>
											<span class="sr-only">Previous</span>
										</a>
										<div class="theses-counter">
											<strong>These <span class="current-number">1</span></strong>/<span class="total-number"><f:count subject="{result.opinions}"/></span>
										</div>
										<a class="thesis-control-next" href="#theses-carousel" role="button" data-slide="next">
											<i class="fi flaticon-arrow2" aria-hidden="true"></i>
											<span class="sr-only">Next</span>
										</a>
									</div>
									<div class="carousel-inner" role="listbox">
										<f:for each="{result.opinions}" as="opinion" iteration="iterator">
											<f:render partial="Thesis/Compare" arguments="{opinion: opinion, candidates: candidates, iterator: iterator}"/>
										</f:for>
									</div>
								</div>
								<f:for each="{result.opinions}" as="opinion" iteration="iterator">
									<div id="theses-detail-{iterator.cycle}" class="thesis-detail-wrap{f:if(condition: '{iterator.isFirst}', then: ' active')}">
										<div class="row">
											<div class="col-12">
												<span class="d-flex align-items-center">
													<div class="w-100">
														<f:switch expression="{opinion.opinion}">
															<f:case value="2"><strong class="check">Sie stimmen zu</strong></f:case>
															<f:case value="-1"><strong class="cancel">Sie stimmen nicht zu</strong></f:case>
															<f:case value="1"><strong>Sie stehen neutral dazu</strong></f:case>
															<f:case value="0"><strong>Übersprungen</strong></f:case>
														</f:switch>
													</div>
													<f:if condition="{opinion.emphasize}">
														<span class="opinion-wrap mr-1">
															<i class="fi flaticon-star"></i>
													</span>
													</f:if>
													<f:if condition="{opinion.opinion} != 0">
														<span class="opinion-wrap">
															<f:switch expression="{opinion.opinion}">
																<f:case value="2"><i class="fi flaticon-check"></i></f:case>
																<f:case value="-1"><i class="fi flaticon-cancel"></i></f:case>
																<f:case value="1"><i class="fi flaticon-minus"></i></f:case>
																<f:case value="0"><i class="fi"></i></f:case>
															</f:switch>
														</span>
													</f:if>
												</span>
												<hr/>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<div id="accordion" class="candidate-thesis-list" role="tablist" aria-multiselectable="true">
													<f:for each="{candidates}" as="candidate" iteration="subiterator">
														<f:render partial="Candidate/Compare" arguments="{opinion: opinion, candidate: candidate, iterator: subiterator}"/>
													</f:for>
												</div>
											</div>
										</div>
									</div>
								</f:for>
							</div>
						</div>
					</div>
					<div class="row mt-3 align-items-center hidden-xs-down">
						<div class="col-6">
							<f:link.action action="result" controller="Election" additionalParams="{tx_kom_pi1: '{election: result.election, electionDistrict: result.electionDistrict}'}">
								<i class="fi flaticon-arrow2 flaticon-arrow2-reverse"></i>
								zurück zu den Ergebnissen
							</f:link.action>
						</div>
					</div>
					<div class="row mt-3 justify-content-center">
						<div class="col col-auto">
							<f:render partial="Sharing/General" arguments="{text: 'Kandidat-O-Mat teilen', settings: settings}"/>
						</div>
					</div>
				</main>
			</div>
		</div>
	</f:section>
</html>
