<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default"/>
	<f:section name="main">

		<f:flashMessages/>
		<div id="accordion" role="tablist" aria-multiselectable="true">
			<f:for each="{result.opinions}" as="opinion" iteration="iterator">
				<div class="row">
					<div class="col-12">
						<div role="tab" id="heading-{iterator.cycle}">
							<small>These {iterator.cycle}</small>
							<h5 data-toggle="collapse" data-parent="#accordion" href="#collapse-{iterator.cycle}" aria-expanded="true" aria-controls="collapse-{iterator.cycle}">
								{opinion.uidLocal.title}
							</h5>
						</div>

						<div id="collapse-{iterator.cycle}" class="collapse" role="tabpanel" aria-labelledby="heading-{iterator.cycle}">
							<p>{opinion.uidLocal.description}</p>
						</div>
					</div>
				</div>
			</f:for>
		</div>
	</f:section>
</html>
