{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">

	<f:flashMessages/>
	<v:variable.set name="step" value="{result.step}" />
	<v:variable.set name="nextStep" value="{v:math.sum(a: '{step}', fail: 1, b: '1')}" />
	<v:variable.set name="previousStep" value="{v:math.subtract(a: '{step}', fail: 1, b: '1')}" />
	<v:variable.set name="thesis" value="{v:variable.get(name: 'thesesMappings.theses.{previousStep}')}" />
	<v:variable.set name="opinion" value="{v:variable.get(name: 'result.opinions.{previousStep}')}" />

	<div class="sticky-top hidden-md-up">
		<nav class="navbar navbar-inverse bg-primary">
			<div class="container">
				<div class="row justify-content-between">
					<f:switch expression="{action}">
						<f:case value="emphasize">
							<div class="col col-auto align-self-center">
								<f:link.action pageUid="{settings.questionnairePid}" action="questionnaire" controller="Election" additionalParams="{tx_kom_pi1: '{election: result.election, electionDistrict: result.electionDistrict, step: result.totalSteps}'}">
									<i class="fi flaticon-arrow2 flaticon-arrow2-reverse"></i>
								</f:link.action>
							</div>
							<div class="col col-auto navbar-brand">
								Thesen gewichten
							</div>
							<div class="col col-auto align-self-center">
								<i class="fi flaticon-arrow2 flaticon-arrow2 invisible"></i>
							</div>						</f:case>
						<f:case value="selection">
							<div class="col col-auto align-self-center">
								<f:link.action pageUid="{settings.emphasizePid}" action="emphasize" controller="Election" additionalParams="{tx_kom_pi1: '{election: result.election, electionDistrict: result.electionDistrict}'}">
									<i class="fi flaticon-arrow2 flaticon-arrow2-reverse"></i>
								</f:link.action>
							</div>
							<div class="col col-auto navbar-brand">
								Kandidaten
							</div>
							<div class="col col-auto align-self-center">
								<i class="fi flaticon-arrow2 flaticon-arrow2 invisible"></i>
							</div>
						</f:case>
						<f:case value="result">
							<div class="col col-auto align-self-center">
								<f:link.action pageUid="{settings.selectionPid}" action="selection" controller="Election" additionalParams="{tx_kom_pi1: '{election: result.election, electionDistrict: result.electionDistrict}'}">
									<i class="fi flaticon-arrow2 flaticon-arrow2-reverse"></i>
								</f:link.action>
							</div>
							<div class="col col-auto navbar-brand">
								Ergebnisse
							</div>
							<div class="col col-auto align-self-center">
								<i class="fi flaticon-arrow2 flaticon-arrow2 invisible"></i>
							</div>
						</f:case>
						<f:case value="compare">
							<div class="col col-auto align-self-center">
								<f:link.action pageUid="{settings.resultPid}" action="result" controller="Election" additionalParams="{tx_kom_pi1: '{election: result.election, electionDistrict: result.electionDistrict}'}">
									<i class="fi flaticon-arrow2 flaticon-arrow2-reverse"></i>
								</f:link.action>
							</div>
							<div class="col col-auto navbar-brand">
								Antworten vergleichen
							</div>
							<div class="col col-auto align-self-center">
								<i class="fi flaticon-arrow2 flaticon-arrow2 invisible"></i>
							</div>
						</f:case>
						<f:case default="TRUE">
							<f:if condition="{step} == 0">
								<f:then>
									<div class="col col-auto align-self-center">
										<f:link.page pageUid="1">
											<i class="fi flaticon-arrow2 flaticon-arrow2-reverse"></i>
										</f:link.page>
									</div>
									<div class="col col-auto navbar-brand">
										Kandidat-O-Mat
									</div>
									<div class="col col-auto align-self-center"></div>
								</f:then>
								<f:else>
									<div class="col col-auto align-self-center">
										<f:if condition="{step} == 1">
											<f:then>
												<f:link.action pageUid="{settings.questionnaireStartPid}" action="questionnaire" controller="Election" arguments="{election: result.election, electionDistrict: result.electionDistrict, step: '{v:math.subtract(a: \'{step}\', fail: 1, b: \'1\')}'}">
													<i class="fi flaticon-arrow2 flaticon-arrow2-reverse"></i>
												</f:link.action>
											</f:then>
											<f:else>
												<f:link.action pageUid="{settings.questionnairePid}" action="questionnaire" controller="Election" arguments="{election: result.election, electionDistrict: result.electionDistrict, step: '{v:math.subtract(a: \'{step}\', fail: 1, b: \'1\')}'}">
													<i class="fi flaticon-arrow2 flaticon-arrow2-reverse"></i>
												</f:link.action>
											</f:else>
										</f:if>
									</div>
									<div class="col col-auto navbar-brand">
										These <strong>{step}</strong> von {result.totalSteps}
									</div>
								</f:else>
							</f:if>
							<f:if condition="{step} > 0">
								<div class="col col-auto align-self-center">
									<f:if condition="{opinion.opinion}">
										<f:then>
											<f:form additionalParams="{tx_kom_pi1: '{electionDistrict: result.electionDistrict, election: result.election, step: nextStep}'}" object="{resultObject}" objectName="resultObject">
												<f:form.hidden name="resultObject[opinions][{step}][uidLocal]" value="{thesis.uid}" />
												<f:form.button class="unstyled" name="resultObject[opinions][{step}][opinion]" value="{opinion.opinion}">
													<i class="fi flaticon-arrow2"></i>
												</f:form.button>
											</f:form>
										</f:then>
										<f:else>
											<i class="fi flaticon-arrow2 invisible"></i>
										</f:else>
									</f:if>
								</div>
							</f:if>
						</f:case>
					</f:switch>
				</div>
			</div>
		</nav>
	</div>
	<div class="hidden-xs-down">
		<div class="sticky-top">
			<nav class="navbar">
				<div class="container">
					<f:format.html>{result.election.logos}</f:format.html>
				</div>
			</nav>
		</div>
	</div>
</f:section>
</html>
