<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-kom" >
	<tr>
		<td>
			<f:translate key="tx_kom_domain_model_election.title" />
		</td>
		<td>
		{election.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kom_domain_model_election.date" />
		</td>
		<td>
		{election.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kom_domain_model_election.theses" />
		</td>
		<td>
			<f:count>{election.theses}</f:count>
		</td>
	</tr>
</table>
</html>
