<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<div class="mobile-help col-12 hidden-sm-up py-5 px-4">
		<div class="row">
			<div class="col-4">
				<f:image
					class="img-fluid w-100 mb-5"
					src="EXT:theme_kom/Resources/Public/Images/Frontend/swipe_right@2x.png"
					alt=""
				/>
			</div>
			<div class="col-8">
				Swipe Right
				<p><strong>stimme zu</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<f:image
					class="img-fluid w-100 mb-5"
					src="EXT:theme_kom/Resources/Public/Images/Frontend/swipe_left@2x.png"
					alt=""
				/>
			</div>
			<div class="col-8">
				Swipe Left
				<p><strong>stimme nicht zu</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<f:image
					class="img-fluid w-100 mb-5"
					src="EXT:theme_kom/Resources/Public/Images/Frontend/swipe_up@2x.png"
					alt=""
				/>
			</div>
			<div class="col-8">
				Swipe Up
				<p><strong>neutral</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<f:image
					class="img-fluid w-100 mb-5"
					src="EXT:theme_kom/Resources/Public/Images/Frontend/swipe_down@2x.png"
					alt=""
				/>
			</div>
			<div class="col-8">
				Swipe Down
				<p><strong>überspringen</strong></p>
			</div>
		</div>
	</div>
</html>
