{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<v:variable.set name="nextStep" value="{v:math.sum(a: '{step}', fail: 1, b: '1')}" />
	<v:variable.set name="previousStep" value="{v:math.subtract(a: '{step}', fail: 1, b: '1')}" />
	<v:variable.set name="opinion" value="{v:variable.get(name: 'result.opinions.{previousStep}')}" />

	<f:for each="{theses}" as="thesis" iteration="iterator">
		<f:if condition="{iterator.cycle} == {step}">
			<div class="row mb-3">
				<div class="col-12">
					<div class="thesis-balloon">
						<h2>{thesis.title}</h2>
						{thesis.description}
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-12">
					<div class="row">
						<div class="col-12 col-sm-6 d-flex">
							<f:form class="w-100" additionalParams="{tx_kom_pi1: '{electionDistrict: electionDistrict, election: election, step: nextStep}'}" object="{result}" objectName="result">
								<f:form.hidden name="result[opinions][{step}][uidLocal]" value="{thesis.uid}" />
								<f:form.button class="btn btn-lg btn-block btn-secondary{f:if(condition: '{opinion.opinion} == 2', then: ' active')}" name="result[opinions][{step}][opinion]" value="2">
								<span class="d-flex align-items-center">
									ich stimme zu
									<span class="opinion-wrap">
										<i class="fi flaticon-check"></i>
									</span>
								</span>
								</f:form.button>
							</f:form>
						</div>
						<div class="col-12 col-sm-6 mt-3 mt-sm-0">
							<f:form class="w-100" additionalParams="{tx_kom_pi1: '{electionDistrict: electionDistrict, election: election, step: nextStep}'}" object="{result}" objectName="result">
								<f:form.hidden name="result[opinions][{step}][uidLocal]" value="{thesis.uid}" />
								<f:form.button class="btn btn-lg btn-block btn-secondary{f:if(condition: '{opinion.opinion} == -1', then: ' active')}" name="result[opinions][{step}][opinion]" value="-1">
								<span class="d-flex align-items-center">
									ich stimme nicht zu
									<span class="opinion-wrap">
										<i class="fi flaticon-cancel"></i>
									</span>
								</span>
								</f:form.button>
							</f:form>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<f:form class="w-100" additionalParams="{tx_kom_pi1: '{electionDistrict: electionDistrict, election: election, step: nextStep}'}" object="{result}" objectName="result">
								<f:form.hidden name="result[opinions][{step}][uidLocal]" value="{thesis.uid}" />
								<f:form.button class="btn btn-lg btn-block btn-secondary{f:if(condition: '{opinion.opinion} == 1', then: ' active')}" name="result[opinions][{step}][opinion]" value="1">
								<span class="d-flex align-items-center">
									neutral
									<span class="opinion-wrap">
										<i class="fi flaticon-minus"></i>
									</span>
								</span>
								</f:form.button>
							</f:form>
						</div>
					</div>
				</div>
			</div>
		</f:if>
	</f:for>
</html>
