<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
	<div class="row">
		<div class="col-12 text-center text-uppercase">
			<div class="row justify-content-center">
				<div class="col-6 col-md-2">
					<f:image
						class="img-fluid w-100"
						src="EXT:theme_kom/Resources/Public/Images/Frontend/logo-kom.svg"
						alt="{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:header.logo.alttext')}"
					/>
				</div>
			</div>
			<h1>
				<f:translate key="LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:header.logo.sitename"/>
			</h1>
			<small>Vergleichen Sie Ihre Meinung mit den Positionen der Kandidierenden aus Ihrem Wahlkreis</small>
		</div>
	</div>
	<f:form pageUid="{settings.questionnairePid}" action="questionnaire" controller="Election" class="mt-4">
		<div class="form-group row justify-content-center">
			<div class="col-12 col-lg-6">
				<div class="select-wrap">
					<f:form.select additionalAttributes="{onchange: 'if(this.value != 0) { this.form.submit(); }'}" name="electionDistrict" class="form-control" options="{electionDistricts}" optionLabelField="title" prependOptionLabel="Wahlkreis wählen" prependOptionValue=""></f:form.select>
				</div>
			</div>
		</div>
	</f:form>
</f:section>
</html>
